<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>I have 10 years experience as a software developer and am now
        working on a bachelor's degree in software engineering. I've worked
        independently, for small businesses, and for the last 6 years at a
        large company. I've acted as solution architect and full-stack
        developer, but my passions are for embedded systems and machine
        learning.</p>
        <p>I love to build things in and out of the computer. Networked sensors
        and tools, coffee tables with screens in them, and good old-fashioned
        woodworking fill my free time, and my passion projects at work include
        building a CNC router to cut circuit boards and a servo-controlled
        camera for photogrammetric 3D scans. I believe 3D printing is one of
        the very first steps to a new era of manufacturing and that the future
        includes nanoconstruction.</p>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top:0;">Highlights</h3>
        <ul>
          <li>Designed and developed web application to coordinate media
          buying, teaching a team of volunteers software development along the
          way. Eliminated annual 3-week period of 18 hour days and centralized
          all planning data, replacing a shared drive full of Excel
          documents.</li>
          <li>Prototyped hardware and software solutions for novel media
          problems in-home, in-theater, and in-restaurant.</li>
          <li>Hosted a workshop at Chicago Ideas Week 2018 on building simple
          things as a way to change focus, calm the mind, and solve problems
          differently.</li>
          <li>Built innovation lab to solve technical challenges, provide
          hands-on experience with emerging tech, and introduce employees to
          programming, 3D printing, electronics, and other building block
          skills.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
