<section class="tout" id="interests">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Interests</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>My personal interests include:</p>
        <ul>
          <li>
          <b>Space Colonization</b>. We're at the beginning of a golden age of
          space exploration and I've been in love with it since I was a kid.
          Our future is as a multi-planetary species and my future is
          engineering technology that gets us there.</li>
          <li>
          <b>Building Digital Gadgets</b>. I started learning circuitry when I
          was small and it's followed me into adulthood. I'm currently working
          on a compact, physical control panel for my Kerbal Space Program
          missions, and looking forward to building my own mechanical keyboard
          soon.</li>
          <li>
          <b>Backpacking</b>. Nothing helps me feel connected with the world
          like getting lost on it. When I can get away, I like to hike to
          somewhere remote, setup camp, and enjoy nature next to a fire.</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top:0">Recent Projects</h3>
        <ul>
          <li>Prototyped a handheld TensorFlow-based product recognition tool
          for consumer analytics.</li>
          <li>Wrote Android apps to use a large batch of surplus tablets as a
          real-time "text wall" display.</li>
        </ul>
        <h3>Other Things</h3>
        <ul>
          <li>Do I do other things?</li>
          <li>If so, what? If not, why?</li>
        </ul>
      </div>
    </div>
  </div>
</section>
